nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    background-color: darkkhaki;
    font-size: 1.5rem;
    
}

@media only screen and (min-width: 276px) and (max-width: 576px) {
    nav {
        flex-direction: column;
    }
}


body {
    /* background-color: #0b1522; */
    background-color: forestgreen;
    
}

img {
    width: 40%;
    border: 2px solid gold;
    /* border-radius: 10px 100px /120px; */
    border-radius: 10% 30% 50% 70%;
    /* flex-shrink: 10px; */

}

div {
    padding: 5%;
    margin: 10px;
}

@media only screen and (min-width: 576px) and (max-width: 768px)
{
    body {
        background-color: chartreuse;

    }
}

@media only screen and (min-width: 768px) and (max-width: 992px)
{
    body {
        background-color: blue;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px)
{
    body {
        background-color: lightgreen;
    }
}



@media only screen and (min-width: 1400px)
{
    body {
        background-color: forestgreen;
    }
}

@media only screen and (min-width: 576px) and (max-width: 1200px)
{
    h1 {
       color:olivedrab;
        
    }
}


@media only screen and (min-width: 576px) and (max-width: 768px)
{
    h1 {
       color :aliceblue;
        
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px)
{
    h1 {
       color:  yellow;
        
    }
}

@media only screen and (min-width: 992px) and (max-width: 1400px)
{
    h1 {
       color: darkcyan;;
        
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px)
{
    h2 {
       color :aliceblue;
        
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px)
{
    h2 {
       color:  yellow;
        
    }
}

@media only screen and (min-width: 992px) and (max-width: 1400px)
{
    h2 {
       color: darkcyan;;
        
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px)
{
    p {
       color: blue;
        
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px)
{
    p {
       color:  yellow;
        
    }
}


